---
---

@import "{{ site.theme }}";

body {
  padding-top: 0;
  background-color: moccasin;
  color: #333;
  font-family: serif;
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

header h1, header p {
  text-align: center;
}

header h1 {
//     display: none;
}

header p.view {
  display: none;
}

footer {
  display: none;
}

a {
  color: darkorange;
  text-decoration: underline;
  font-weight: bold;
}

blockquote {
  border-left-color: darkorange;
}
