---
---

@import "{{ site.theme }}";

body {
  background-color: moccasin;
  color: #333;
  font-family: serif;
  font-size: 18px;
}

header p.view {
  display: none;
}

footer {
  display: none;
}

a {
  color: darkorange;
}

blockquote {
  border-left-color: darkorange;
}
